.educacion{
    color: yellow;
    font-family: 'Fredoka One', cursive;
   text-align: center;
    font-size: 40px;
    margin-top: 1%;
    
}

.ne{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
      
    }
    .ne button{
      background-color:#18548db6;
      border-style: none;
    }
    .ne button:hover{
      
      background-color:rgba(0, 128, 248, 0.714);
      box-shadow: -1px 1px 20px 0px rgba(0, 128, 248, 0.714);
      
    }
    .btnbo button{
      background-color: rgba(255, 0, 0, 0.815);
      border-style: none;
    }
    .btnbo button:hover{
      background-color: red;
      box-shadow: -1px 1px 20px 0px red;
  
    }
    .btned button{
      background-color: rgb(141, 10, 54);
      color: wheat;
      border-style: none;
    }
    .btned button:hover{
      background-color: rgb(218, 8, 78);
      box-shadow: -1px 1px 20px 0px rgb(218, 8, 78);
  
    }
    .botones button{
      font-size: 12px;
    }
    .botones{
   
     display: flex;
   align-items: center;
   justify-content: center;
     gap: 2%;
         
      
  
     
  
    }
.educacion p::before{
    content: "";
    position: absolute;
    width: 198px;
    height: 4px;
    margin-top:50px;
    background:yellow;
}
.contenedor{
transform: translateY(65vh) translateZ(0px) scale(1);
background-color: rgb(6, 6, 12);
width: 90%;
margin: auto;
border-radius: 1em;
padding: 1%;


}
.centro button{
  margin-bottom: 7%;
  font-size: 16px;
  font-family: 'Fredoka One', cursive;
}
.estudio {


text-align: center;
font-size: 15px;
font-family: 'Inter', sans-serif;
color:rgba(255, 255, 255, 0.842);


}
.e1{



width: 90%;
margin: auto;
margin-bottom: 5%;
border-radius: 5%;
background-color: rgb(17, 17, 24);
border-top-style: groove;
border-top-color: rgb(0, 110, 255);
padding-bottom: 2%;
}
.ti{
font-size: 16px;
font-family: 'Fredoka One', cursive;
color:rgb(248, 0, 103);
margin-top: 5%;
font-size: 18px;

}

.pp{
margin-bottom: 5%;
padding: 2%;
}
.fech{
color:rgb(0, 119, 255);
margin-bottom: 1%;
}

.estudio img{
width: 70px;
background-color: white;
border-radius: 10%;
margin-top: 5%;


}
.estudio img:hover{
box-shadow: -1px 1px 30px 0px rgba(27, 60, 207, 0.945);

}

@media screen and (min-width:47em){
.centro {
  display: flex;
  flex-direction: column; 
}

.estudio{
  display: flex;

  justify-content: space-around;
  flex-wrap: nowrap;
}
        
    }
    .botones{
   
      display: flex;
    align-items: center;
    justify-content: center;
      gap: 2%;
          
       
   
      
   
     }
@media screen and (min-width:60em){
 
  
  .e1{
  width: 70%;
  padding: 2%;
 }
}
@media screen and (min-width:80em){
    .contenedor{
        width: 70%;
        transform: translateY(45vh) translateZ(0px) scale(1);
    }
}