
           <div class="experiencia">
            
   
            <div class="cajaE">
            <div class="tituloExp">
              <p>Experiencia</p></div>
            <div class="flexbe">
            <div class="primerexp">
               <img src="../../../assets/poliiiiii.png">
               <div class="arribaj"> 
               <p class="pfa"> Policia Federal Argentina | 2014-2020<p>
                <p> Sistemas y administracion de datos.<p>
            </div></div></div></div>
           
          </div>