
           <div class="proyecto">

   
            <div class="cajaE">
            <div class="tituloExp">
              <p>Proyectos</p></div>
            <div class="flexbe">
            <div class="primerexp">
               <img src="../../../assets/clonm.png">
               <div class="arribaj"> 
               <p class="clon">  Clon de Mercado Libre<p>
                <div class="masp">
                <p> Challenge en proceso, cuyo objetivo es clonar la página de Mercado Libre,
                   al detalle. Cuenta con modo oscuro, caja de comentarios con validaciones, agregar preguntas,
                    carousel de imágenes, filtro de busqueda,y más.</p>
                    <p>Tecnologías utilizadas: HTML 5, CSS, JavaScript, Angular<p></div>
            </div></div></div></div>
           
          </div>