
div{
  
    color: white;
    display: flex;
    flex-direction: column;
   font-size: 13px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
 
    padding-top: 1%;
    transform: translateY(100vh) translateZ(0px) scale(1);
    background-color: black;}
.footer:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
  
    height: calc(2% + var(--borderWidth) * 2);
    width: calc(96% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  
    animation: animatedgradient 3s ease alternate infinite;
    
   
    }
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .footer {
    --borderWidth: 2%;
    position: relative;
 
   
  }  
.footer p{
    margin-top: 2%;
    text-align: center;
    background-color: black;
}
@media screen and (min-width:80em){
.footer p{
    font-size: 16px;
    margin-top: 0%;
    background-color: black;}
}