<div class="hys">
<p>Hard & Soft Skills</p>
<div  class="row">
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="80"
    [showUnits]="false"
    [imageSrc]="'../assets/htmlimg.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="110"
    [showSubtitle]="false"
    [outerStrokeWidth]="7"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#ff4500'"
    [innerStrokeColor]="'#cc008f'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [showUnits]="false"
        [imageSrc]="'../assets/cssimg.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="65"
        [showSubtitle]="false"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#ff4500'"
        [innerStrokeColor]="'#cc008f'"
        [animation]="true"
        [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [imageSrc]="'../assets/jsimg.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#ff4500'"
            [innerStrokeColor]="'#cc008f'"
            [animation]="true"
            [animationDuration]="1000"
            ></circle-progress>
     </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="90"
                [radius]="80"
                [showUnits]="false"
                [imageSrc]="'../assets/javaimg.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [showSubtitle]="false"
                [outerStrokeWidth]="7"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#ff4500'"
                [innerStrokeColor]="'#cc008f'"
                [animation]="true"
                [animationDuration]="1000"
                ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="85"
                    [radius]="80"
                    [showUnits]="false"
                    [imageSrc]="'../assets/mysqlimg.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="80"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="1"
                    [outerStrokeColor]="'#ff4500'"
                    [innerStrokeColor]="'#cc008f'"
                    [animation]="true"
                    [animationDuration]="1000"
                    ></circle-progress>
    </div>
    <div id="equipo"class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [showUnits]="false"
        [imageSrc]="'../assets/icon0-vector-323-01.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#ff4500'"
        [innerStrokeColor]="'#cc008f'"
        [animation]="true"
        [animationDuration]="1000"
        ></circle-progress>
        </div>

</div>
</div>