.porcentaje{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:4%;
  
  

}
.circle-progress{
  margin-top:200px;

}
.porcentaje div{
  margin:5px;
}
.ne{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 5%;
 
  
  
  
  
    
  }
  .ne button{
    background-color:#18548db6;
    border-style: none;
  }
  .ne button:hover{
    
    background-color:rgba(0, 128, 248, 0.714);
    box-shadow: -1px 1px 20px 0px rgba(0, 128, 248, 0.714);
    
  }
.hys{
  display: flex;
  flex-direction: column;
transform: translateY(25vh) translateZ(0px) scale(1);
background-color: rgb(6, 6, 12);
width: 90%;
margin: auto;
border-radius: 1em;}
.row{
  width: 80%;
  margin: auto;
  background-color:rgb(17, 17, 24);
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 1em;
  display: flex;
justify-content: space-around;
  
  
  
}
.row div{
  margin-bottom: 1%;
}

p{
  padding-top:6% ;
    text-align: center;
    color: yellow;
  
  font-size: 42px;
  font-family: 'Fredoka One', cursive;
position:relative;
}
p::before{
    content: "";
    position: absolute;
    width: 238px;
    height: 4px;
    background:yellow;
    top:86%;    
    
  }
  @media screen and (min-width:47em){
    p::before{
      top:90%;
    }
    .hys{
    transform: translateY(75vh) translateZ(0px) scale(1);
  }}
  @media screen and (min-width:60em){
    .hys{
      width: 90%;
      transform: translateY(76vh) translateZ(0px) scale(1);
    }
   
  
  }
  @media screen and (min-width:80em){
    .hys{
      width: 70%;
      transform: translateY(55vh) translateZ(0px) scale(1);
    }
  
  }