<div class="secionsobremi">
    <div class="subtitulo">
      <p>Acerca de mi</p></div>
 <div class="iaa">
    <div class="cajx">
    <div class="gradient-border" id="box">
      <img src= "../../../assets/se.png"></div>
   <div class="tex1" id="nombre">
      {{persona.nombre}} {{persona.apellido}}<p> 
         Full Stack Developer Jr</p>
   </div></div>

   <div class="tex2">
    
         <strong><p>¡Hola!, Me llamo Mailen, soy de Buenos Aires, Argentina. Soy Desarrolladora Web Full Stack en
            busca de mi primer experiencia laboral en IT. Me encuentro realizando la Tecnicatura en Desarrollo
            Web en la Universidad Nacional de La Matanza, además de cursos, varios, para adquirir nuevos conocimientos
            y reforzar los ya adquiridos en la Tecnicatura, los mismos son en tecnologias tanto de Frontend como de Backend.
         </p>
         <p>Me considero una persona honesta, responsable y atenta a los detalles, con muchas ganas de seguir aprendiendo nuevas
            habilidades y tecnologias web para mi desarrollo profesional. También tengo un fuerte compromiso con los proyectos que me asignan
            y doy lo mejor de mí para completar las tareas con el mejor resultado posible.
         </p></strong>

   </div></div></div>