/*@media screen and (min-height:100px) AND (min-width:100px){
  .secionsobremi div{
    transform: translateY(-5vh) translateZ(0px) scale(1);
    
  }
}*/
.secionsobremi{
  font-size: 16px;
    color: white;
     transform: translateY(50vh) translateZ(0px) scale(1);
     display: flex;
     flex-direction: column;
     width: 90%;
     margin: auto;
     text-align: center;
     font-family: 'Inter', sans-serif;
     
      background-color: rgb(6, 6, 12);
      padding: 10px;
      border-radius: 1em;
      padding-bottom: 5%;

    }
    
    .tex1{
      margin-top: 5%;
      margin-bottom: 5%;
      font-family: monospace;
    }
  .tex1 p{
    margin: 0;
  }
    .gradient-border {
      --borderWidth: 2%;
      position: relative;
      border-radius: 50%;
    }
    .gradient-border:after {
      content: '';
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(3 * var(--borderWidth));
      height: calc(99% + var(--borderWidth) * 2);
      width: calc(48% + var(--borderWidth) * 2);
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      border-radius: calc(2 * var(--borderWidth));
      animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%;
      margin-left: 18%;
      }
    @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .gradient-border img{
      width: 50%;
      position: relative;
      border-radius: 5%;
      z-index: 1;
    }
    
    .subtitulo p::before{
      content: "";
      position: absolute;
      width: 250px;
      height: 4px;
      background:yellow;
      top:80px;    
      
    }
    .tex2{
      color: rgb(0, 37, 202);
      font-size: 16px;
      
      background-color:rgb(17, 17, 24);
      padding: 4%;
    border-radius: 1em;
    width: 90%;
    margin-bottom: 5%;
    margin: auto;
    
 
    }
    
    .subtitulo p{
      color: yellow;
      margin-bottom: 50px;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;margin-top: 5%;
      
    }

    /*tablet*/
    @media screen and (min-width:47em){
      .iaa{
          display: flex;
          align-items: center;
          gap: 0%;
          width: 100%;
          
      }
      .gradient-border img{
        width: 5px;
      }
      .tex2{
          width: 100%;
      
      }
     .subtitulo p{
      font-size: 40px;
      margin-bottom: 5%;
     }
     .subtitulo p::before{
      top: 13%;
      width: 36%;
     }
      .gradient-border img{
          width: 70%;
      }
      .gradient-border:after {
          left: calc(0 * var(--borderWidth));
          width: calc(70% + var(--borderWidth) * 2);
          margin-left: 13%;
          }
       
    }
    .secionsobremi{
      transform: translateY(25vh) translateZ(0px) scale(1);
    }
    /*compu*/
    @media screen and (min-width:60em){
      .iaa{
      margin: auto;
     width: 90%;
    
      }
   
    .subtitulo p::before{
      
      width: 248px;
    top: 16%;}
    .secionsobremi{
     transform: translateY(30vh) translateZ(0px) scale(1);

    }
    }
    /*masgrande*/
    @media screen and (min-width:80em){
      .secionsobremi{
        width: 70%;
       
     transform: translateY(20vh) translateZ(0px) scale(1);
       
      }
     
     
    
      .gradient-border:after {
        left: calc(0 * var(--borderWidth));
        width: calc(70% + var(--borderWidth) * 2);
        height: 83%;
   margin-top: 20%;
        }
        .gradient-border img{
          margin-top: 20%;
        }
     }
     
    
   