<div class="banner">
    <div class="uno"> 
      <img src="../../../assets/APLogo-20-20.png"></div>
    
    <div class="redes">
      <a href="https://www.instagram.com/maiilu.larusso/" target="_blank"> <img src="../../../assets/instagram.png"></a>
      <a href="https://github.com/Maiilen" target="_blank">  <img src="../../../assets/github.png"></a>
      <a href="https://www.linkedin.com/feed/" target="_blank"> <img src="../../../assets/linkedin.png"></a>
      <a href="https://www.linkedin.com/feed/" target="_blank"><img src="../../../assets/si.png"></a>
      </div>

 </div>
 <div class="bienvenidos">
     <div class="imgFondo"
         style="background-image: url(../../../assets/88032.jpg)">
     </div>

     <div class="titulo">
         <h1><strong>¡Hola, soy Mailen!</strong></h1><br>
         <p><strong>&lt;p&gt;Full Stack Developer Jr&lt;p&gt;</strong></p>
     </div>
 </div>
 