.experiencia{
    width: 90%;
    margin: auto;
    transform: translateY(7vh) translateZ(0px) scale(1);
    background-color: rgba(10, 10, 14, 0.911);
    padding: 5%;
    border-radius: 1em;
    font-size: 17px;

  }
  .flexbe div{
    background-color:rgb(17, 17, 24);
  
   
    border-radius: 1em;
    
    margin: auto;
    margin-top: 2%;
 
  }
  .botones button{
    font-size: 12px;
  }
  .botones{
 
   display: flex;
 align-items: center;

 justify-content: center;
       
    

   

  }
  .tituloExp{
    color: yellow;
    font-family: 'Fredoka One', cursive;
   text-align: center;
    font-size: 40px;
    margin-bottom: 10%;
  }
  .tituloExp p::before{
    content: "";
    position: absolute;
    width: 228px;
    height: 4px;
    background:yellow;
    top:84px;  
  }
  .arribaj p{
    margin: 0;
  
  }
  
  .pfa{
    font-family: 'Fredoka One', cursive;
    color: #5073b8;
  }
  .primerexp {
    color: white;
    font-family: 'Inter', sans-serif;

    text-align: center;
  }
  .primerexp img{
    
    width: 25%;
    border-radius: 100%;
    margin:5%;
   
  }
    .ne button{
      background-color:#18548db6;
      border-style: none;
    }
    .ne button:hover{
      
      background-color:rgba(0, 128, 248, 0.714);
      box-shadow: -1px 1px 20px 0px rgba(0, 128, 248, 0.714);
      
    }
    .btnbo button{
      background-color: rgba(255, 0, 0, 0.815);
      border-style: none;
    }
    .btnbo button:hover{
      background-color: red;
      box-shadow: -1px 1px 20px 0px red;
  
    }
    .btned button{
      background-color: rgb(141, 10, 54);
      color: wheat;
      border-style: none;
    }
    .btned button:hover{
      background-color: rgb(218, 8, 78);
      box-shadow: -1px 1px 20px 0px rgb(218, 8, 78);
  
    }
   .botones div{
    margin: 0%;
    margin:2%;
    margin-bottom: 5%;
   }
   
   
  @media screen and (min-width:47em){
    .tituloExp{
        font-size: 40px;
        
    }
    .tituloExp p::before{
    top:22%;
        width: 225px;
    }
   
    .flexbe img{
        width: 18%;
    }
    .arribaj{
        display: flex;
        flex-direction: column;
        width: 70%;
        font-size: 18px;
    }
  
    .pfa{
        width: 100%;
        font-size: 23px;
    }
  
    .experiencia{
      
      transform: translateY(40vh) translateZ(0px) scale(1);
    }

    .imagenF {
        width: 90%;
        margin: auto;
    }
   .botones div{
    margin-bottom: 10%;
   }
  }
  @media screen and (min-width:60em) {
    .tituloExp p::before{
      top:21%;
     
      }
     
      .flexbe img{
          width: 13%;
      }
  }
  @media screen and (min-width:80em){
    .experiencia{
      width: 70%;
      transform: translateY(30vh) translateZ(0px) scale(1);
   
   }
   .tituloExp p::before{
    top:23%;
      
    }
    .primerexp img{
    
      width: 13%;
  }}