.container{
    color: rgb(233, 215, 215);
    width:50%;
    margin: auto;
    text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
   
    
}
.container input{
    background-color:black;
    width: 80%;
    margin: auto;
    color:rgb(255, 0, 85);
    font-size: 20px;
    border-color: rgb(195, 0, 255);
   
}
.container div{
    margin-top: 5%;
}
.botons button{
    background-color: rgba(153, 0, 255, 0.801);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    width: 40%;
    border-style: none;
}
.botons button:hover{
    
        background-color: rgb(153, 0, 255);
        box-shadow: -1px 1px 20px 0px rgb(153, 0, 255);
}
